* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

form {
  margin: 1rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
  border-radius: 5px;
}

#btn {
  border-radius: 0;
  width: 20%;
  background-color: #1E77D8;
  color: white;
  border: 0;
  padding: 1rem;
}

#result {
  margin: 1rem;
}
